
.App-logo {
  height: 10vmin;
  pointer-events: none;
}




.App-header {

  text-align: center;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}




button{
  background-color: orange;
  padding: 1% 3%;

}

.NotesList{
  display: flex;
  flex-direction:column;
  margin: 1% 3%;
  

}

.cardd{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
color: black;
background-color: orange;

}


.up{
 
  width: 20%;
  margin: 1% 4%;
}

.notetitle{
  
  font-size: 20px;
  font-weight: bold;
}